[Desktop Entry]
Encoding=UTF-8
Name=Nakedcash
Comment=Nakedcash P2P Cryptocurrency
Comment[fr]=Nakedcash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Nakedcash, eşten eşe kriptografik sanal para birimi
Exec=Nakedcash-qt %u
Terminal=false
Type=Application
Icon=Nakedcash128
MimeType=x-scheme-handler/Nakedcash;
Categories=Office;Finance;
